<%- include('../global/head.ejs') %>
  <link href="/css/forms.css" rel="stylesheet"/>
  <link href="/css/product.css" rel="stylesheet"/>
</head>
<body>
  <%- include('../global/nav.ejs') %>
  <main>
    <form class="product-form" action="/admin/add-product" method="POST">
      <div class="form-control">
        <label for="title">Title</label>
        <input class="product-form_input" placeholder="Title" type="text" name="title" id="title">
      </div>
      <div class="form-control">
        <label for="imageUrl">Image URL</label>
        <input class="product-form_input" placeholder="Image URL" type="text" name="imageUrl" id="imageUrl">
      </div>
      <div class="form-control">
        <label for="description">Description</label>
        <textarea class="product-form_input" placeholder="Description" type="text" name="description" id="description" rows="5"></textarea>
      </div>
      <div class="form-control">
        <label for="price">Price</label>
        <input class="product-form_input" placeholder="Price" type="number" name="price" id="price" step="0.01">
      </div>
      <button class="product-form_button" type="submit">Add Product</button>
    </form>
  </main>
<%- include('../global/end.ejs') %>