<main>
  <form class="product-form" action="/admin/add-product" method="POST">
    <div class="form-control">
      <label for="title">Title</label>
      <input class="product-form_input" placeholder="Title" type="text" name="title" id="title">
    </div>
    <button class="product-form_button" type="submit">Add Product</button>
  </form>
</main>