<%- include('../global/head.ejs') %>
  <link href="/css/forms.css" rel="stylesheet"/>  
  <link href="/css/product.css" rel="stylesheet"/>
</head>
<body>
  <%- include('../global/nav.ejs') %>
  <main>
    <h1><%= pageTitle %></h1>
  </main>
<%- include('../global/end.ejs') %>