.product-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
}

.product-item {
  width: 20rem;
  max-width: 95%;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}

.product__title {
  font-size: 1.2rem;
  text-align: center;
}

.product__price {
  text-align: center;
  color: #4d4d4d;
  margin-bottom: 0.5rem;
}

.product__description {
  text-align: center;
}

.product__image {
  height: 16rem;
  width: 12rem;
  object-fit: cover;
  object-position: center;
  margin: 0 auto;
}

.card.product-item {
  width: 30%;
  margin: 1rem 0.5rem;
}

.product-item button {
  padding: 0.5rem;
}

.product-item .card__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .card.product-item {
    width: 45%;
  }
}

@media screen and (max-width: 500px) {
  .card.product-item {
    width: 95%;
  }

  .product-item .card__actions {
    flex-direction: column;
  }
}
